<div class="post">
  <% @post.each do |post| %>
      <%= post.name %>
      <p><%= post.text %></p>
      <%= image_tag post.image.variant(resize:'500x500') if post.image.attached? %>
  <% end %>
</div>