<div class="post">
  <h3>投稿する</h3>
  <%= form_with(model: @post, local: true) do |form| %>
    <%= form.text_area :text, placeholder: "text", rows: "10" %>
    <%= form.file_field :image %>
    <button type="submit" class="btn btn-primary">送信</button>
  <% end %>
    <%=link_to 'もどる', root_path, class:"btn btn-primary return" %>
</div>