<div class="show">

  <div class="show_left">
  </div>

  <div class="show_right">
    <div class="poster">
    </div>

    <div class="comments">
    </div>

    <div class="comment">
    </div>
  </div>

</div>