/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

header{
  background: red;
  display: flex;
  height: 54px;
  position: fixed;
  justify-content: space-between;
  width: 100%;
}

.post{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
}

.one_post{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border: solid 1px black;
  padding: 10px;
  margin-bottom: 20px;
}

.post_name,
.post_text{
  padding-top: 10px;
}

.post form{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 10px;
  /* background: chartreuse; */
  /* border: 1px solid #AAA; */
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

.show{
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.show_left{
  width: 600px;
  height: 600px;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show_right{
  width: 350px;
  height: 600px;
  background-color: grey;
}

.poster{
  height: 50px;
  background-color: hotpink;
}

.comments{
  height: 450px;
  background-color: indigo;
}

.comment{
  height: 100px;
  background-color: lightsalmon;
}